body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #f4e4e7;
    color: rgb(255, 255, 255);
    padding: 10px;
}

nav a {
    margin: 10px;
    color: rgb(202, 202, 202); 
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #f3cece;
    color: #000000;
    text-align: center;
}